<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/logout">logout</a><br>

<br>
<h4>Company Page</h4> | <a href="/addCompany"> Add Company</a>
<a href="/messages">Messages</a> <br>




<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th>delete</th>
    </tr>
    <tr th:each="company: ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td ><a th:href="@{'/deleteCompany'(id=${company.id})}">delete</a></td>


    </tr>
</table>
</body>
</html>