<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">logout</a><br>
<br>
Employee Page |  <a href="/addEmployee"> Add Employee</a><br>
Send Message <a href="/sendMessage"> send message</a><br>
add topic <a href="/addTopic"> add topic</a><br>
topics <a href="/topics">  topics</a><br>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>salary</th>
        <th>position</th>
        <th>Company</th>
    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phone}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.name}"></td>

    </tr>


</table>
</body>
</html>